ui/node_modules/
ui/.parcel-cache/
ui/wasm/
ui/dist/

# Ignore build output directories of rust
target/

# Ignore dependency directories
pachang-core/swisseph/*
!pachang-core/swisseph/how_to_get_swisseph.txt