@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu&display=swap');

.ui-datepicker {
    height: 700px;
    width: 800px;
}

.ui-datepicker .ui-datepicker-calendar {
    height: 85%;
    table-layout: fixed;
}

.ui-datepicker table {
    font-size: 42px;
}

.ui-datepicker td a {
    text-align: center;
    height: 100%;
}

.ui-widget {
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 36px;

}

.ui-button {
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 36px;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
    font-family: 'Noto Sans Telugu', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: darkmagenta;
}

table[id=tab1] {
    font-family: 'Noto Sans Telugu', sans-serif;
    width: 800px;
    border: 1px solid #e0cfc2;
    font-size: 36px;
    background-color: #f4f0ec;
}

.tab1 td,
td {
    border: 1px solid #e0cfc2
}

label[name=city_label] {
    font-size: 36px;
}